* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
}

.container-right {
  flex: 1;
  text-align: right;
}

header {
  background-color: #1b6535;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  align-items: stretch;
}

Nav ul {
  list-style: none;
  margin-top: 20px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.section {
  background-color: #a8c66c;
  padding: 60px 0;
  text-align: center;
}

.section1 {
  background-color: #e1dd72;
  padding: 60px 0;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  text-align: justify;
}

footer {
  background-color: #1b6535;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.basil {
  max-width: 200px;
  height: auto;
  float: left;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.secrtion-intro {
  height: 40vh;
}

section#contact form {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

section#contact form label {
  display: block;
  margin-bottom: 5px;
}

section#contact form input[type="text"],
section#contact form input[type="email"],
section#contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

section#contact form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

section#contact form input[type="submit"]:hover {
  background-color: #555;
}

table-container {
  border-collapse: collapse;
  width: auto;
  table-layout: auto;
  justify-content: center;
  align-items: center;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

ul.Kompezenten {
  text-align: left;
}
